<table class="nerd-table-list">
    <th>
        Name
    </th>
    <th>
        Location
    </th>
    <th class="delete-col">
    </th>
    <% if(tableData.length === 0){ %>
        <tr>
            <td colspan="3">
                <% if(extras.isSearch){ %>
                    No nerd tables found, please review your search term
                <% } else { %>
                    You are not a member of any nerd tables
                <% } %>
            </td>
        </tr>
    <% } else { %>
        <% tableData.forEach(function(table){ %>
            <tr>
                <td>
                    <a href="/tables/id/<%=table._id%>"><%=table.name%></a>
                </td>
                <td>
                    <%=table.location%>
                </td>
                <td class="delete-col">
                    <% if(extras.isSearch){ %>
                        <button onclick="joinTable('<%=table._id%>', '<%=extras.listQualifier%>')">Join</button>
                    <% } else { %>
                        <button onclick="dropTable('<%=table._id%>', '<%=extras.listQualifier%>', false)">Delete</button>
                    <% } %>
                </td>
            </tr>
        <% }) %>
    <% } %>
</table>